@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
*{
  font-family:Questrial;
    padding: 0;
}
.dropdown{
display:none;	
}
#example{
display:block;	
}
img{
image-rendering: auto;
}
body{
background-color:rgba(0,0,0,0.0.08);	
-webkit-font-smoothing: antialiased;	
}
#menu{
display:none;	
}
#more{
display:none;	
}
#logo{
width: 100%;
text-align:center;	
margin-top: 25px;
margin-bottom: 44px;
}
#logo img{ 
  width:300px;
  display:inline;
}
#under-logo-line{
display:none;	
}
#top-bar{
width:100%;
text-align:center;
/* padding to make both sides equal-distant */
}
#top-bar ol{
 margin: 0;
  padding: 0;	
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 20px;
margin: 10px 60px;
border-bottom: solid rgba(0,0,0,0) 5px;
padding-bottom:34.5px;
}
#global-nav {
	width:100%;
	text-align:center;
  position: static;
    height: 40px;
}
#global-nav-wrap{
height: 40px;	
}
#top-bar a{
text-decoration:none;
}
#top-bar li:hover{
	border-bottom: solid rgba(0,0,0,1) 5px;
}
#popular{
background-color:black;	
padding: 0 15px;
padding-top: 10px;
}
#top-bar a #popular{
		color:white;
padding-bottom:4px;	
}
.counter {
  width: 20px;
  height: 10px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.scrolled-nav {
	font-size: 17px;
  height: 10px !important;
  line-height: 10px !important;
  background:rgba(255,255,255,1);
  z-index: 9;
  margin-left:-33px;
  padding: 25px;
  padding-bottom: 60px;
  color:black;
    position:relative;
  top: 0px;
left:7px;
}
#example{
display:block;	
}
#picture{
position:relative;
left:-200px;
top:50px;	
}
body {
margin:0
}
.mySlides {
display:none;
}
#first{
display:block;	
}
img {
vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width:400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color:rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

footer{
width:100%;	
padding:0;
margin:0;
}
body {
margin:0;
padding:0;
}
footer #log{
width:220px;
position:relative;
top:17px;
}
footer #ig{
width:150px;
position:relative;
top:10px;
left:-3px;
}
footer{
  position: absolute;
top: 1000px;
width: 100%;
height: 180px;
text-align:center;
background: rgba(0,0,0,0.9);
left:0;
}
#copyright{
	position:relative;
	top: 5px;
	font-size:17px;
color: rgba(255,255,255,1);	
}
#side{
position:relative;
left:230px;	
width:260px;
margin:0 auto;
top: -600px;
height:100px;
}
#side div{
width:100%;
text-align:center;
}
#side h1,h2,h3,h4,h5{
font-family:arial;	
text-align:right;
}
#price{
color:rgba(153,0,0,1);
}
#side h2{
font-family:sans-serif;
text-align:right;	
}
#side h3{
position:relative;
top:-20px;	
}
#side span{
font-style:italic;	
}
#color{
position:relative;
top:-20px;	
}
#description{
font-style:italic;
text-align:right;	
}
@media screen and (max-width: 830px) {
	.slideshow-container {
  width:350px;
  position: relative;
}
	#picture{
	left:20px;
	float:left;	
	top:-5px;
	}
	#example{
	display:none;	
	}
	#verlog{
	display:inline;	
	position:absolute;
	top:1000px;
	}
body{
	margin:0;
background-color:rgba(0,0,0,0.0.08);	
-webkit-font-smoothing: antialiased;	
}

#top-bar a #popular{
	padding-bottom:20px;
	background-color:rgba(0,0,0,0);
	color:black;
	border-bottom: solid black 5px	;
}

#menu{
display:none;	
}
#logo{
	width:100%;
}
#logo img{
	position:fixed;
	top:16px;
	left:12px;
	z-index:9;
	width:200px;
}
#under-logo-line{
display:none;	
}
#top-bar{
width:100%;
text-align:center;
  position:fixed; 
  top:-68px;
    background-color:white;
	z-index:1;
	padding:30px 0px;
}
#top-bar ol{
 margin: 0;
 width:100%;
  padding: 0;
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 17px;
margin:10px;
border-bottom: solid rgba(0,0,0,0) 5px;
padding-top:0;
padding-bottom:20px;

float:right;
position:relative;
right:-10px;
top:40px;
border-bottom: solid black 0px	;
}
#side{
position:relative;
top:-20px;
left:-10px;
float:right;
width:37%;
}
#side h1{
font-size:30px;	
}
#side #price{
font-size:25px;
}
#side h2{
font-size:20px;
}
#side h3{
font-size:15px;
}
#top-bar li:hover {
	border-bottom: solid black 5px	;
}
footer{
top: 700px;
z-index:-1;
height:160px;
}
footer #log{
	width:180px;
	top:12px;
}
footer #ig{
top:3px;
width:140px;	
}
#copyright{
top:-2px;	
}
}
@media screen and (max-width: 600px) {
		.slideshow-container {
  width:350px;
  position: relative;
}
	#picture{
	left:0px;
	float:none;	
	top:12px;
	}
	#menu{
		display:inline-block;
position:fixed;
z-index:2;
top:17px;
left:20px;
}
#menu img{ 
  width:25px;
  height:30px;
}
#menu #cross{
width:23px;
height:23px;	
position:relative;
top:-1px;
left:-12px;
}
#menu1{
	position:relative;
	top:-5px;
	left:-10px;	
}
#menu img:hover{ 
  cursor:pointer;
}
	#example{
	display:none;	
	}
#logo{
	position:fixed;	
	top:-51px;
	background-color:white;
	z-index:1;
	padding:22px 0px;
	}
#logo img{
	position:relative;
	top:13px;
	left:-4px;
	display:inline-block;
	z-index:2;
	width:180px;
}
	#top-bar{
  display:none;
	}

#top-bar a #popular{
	padding-bottom:1px;
	padding:0;
	background-color:rgba(0,0,0,0);
	color:black;	
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	top:22px;
	left:-20px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 16px;
    z-index: 1;
}
.dropdown-content li, .dropdown-content li a {
list-style-type:none;
margin: 36.9px 0;	
text-decoration:none;
color:black;
padding-bottom:10px;
border-bottom: solid black 0px;
}
.dropdown-content li:hover{
border-bottom: solid black 4px;
cursor:pointer;
}
#side{
position:relative;
top:20px;
float:none;
width:330px;
}
#side h1{
font-size:30px;	
text-align:left;
}
#side #price{
font-size:25px;
text-align:left;
position:relative;
top:-10px;
}
#side #mat{
text-align:left;	
position:relative;
top:-53px;
}
#side h2{
font-size:20px;
text-align:left;
position:relative;
top:-25px;
}
#side h3{
font-size:15px;
text-align:left;
position:relative;
top:-30px;
}
#side span{
text-align:left;
}
#color{
text-align:left;
position:relative;
top:-70px;
}
#description{
text-align:left;
position:relative;
top:-67px;
}
footer{
top: 1070px;
z-index:-1;
height:150px;
}
footer #log{
	width:180px;
	top:15px;
}
footer #ig{
top:0px;
width:130px;	
}
#copyright{
top:-15px;	
}
}